<div class="card user-card" *ngIf="user.id > 0">
  <div class="card-header">Selected User</div>
  <div class="card-body">
    <!--
      FELADAT!
      Jelenítsd meg a user négy tulajdonságát egymás alatti p elemekben:
      id, name, email, address
     -->



    <p>
      <!--
        FELADAT!
        1. Készíts ide egy gombot btn, btn-danger és btn-block osztályokkal.
        2. A gombban legyen a trash ikon és a delete szöveg.
        3. Állítsd be a gombra event binding segítségével a click
        eseményre az onDelete metódust és add át neki a user-t.
       -->



    </p>
  </div>
</div>
